.newsitem-container {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  align-items: center;
}
.newsItem-image {
  height: 20rem;
  max-width: 20rem;
  min-width: 36rem;
}

.newsItem-title {
  color: black;
  margin-top: 10px;
  text-align: center;
}
.newsItem-author {
  font-size: 1.25rem;
}
