.header-container {
  background-color: black;
  height: 80px;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header-container ul li {
  padding-left: 50px;
  padding-top: 15px;
}

.header-container ul li a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  height: 100%;
  font-size: 1.85rem;
}
