.navbar__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
  min-height: 90px;
}

.navbar__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__title-button a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  height: 100%;
  padding: 2rem 1.25rem;
  font-size: 2rem;
}

h3.navbar__title-button.sport a {
  background-color: var(--clr-green-light);
}
h3.navbar__title-button.home a {
  background-color: var(--clr-green-light);
}
h3.navbar__title-button.celebrity a {
  background-color: var(--clr-fuchia-light);
}

.navbar__title-button-link {
  display: flex;
  flex-direction: column;
}
.navbar__list {
  display: flex;
  flex-direction: row;
}

.navbar__list li a {
  padding: 2rem 1rem;
  color: black;
  font-size: 1.45rem;
}
.navbar__input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__login-button,
.navbar__search-button {
  width: 100%;
  min-height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  cursor: pointer;
  outline: none;
  padding: 2rem 1.25rem;
  color: black;
  font-size: 1.45rem;
}

.navbar__input-box {
  height: 35px;
  color: black;
  font-size: 1.45rem;
}
